
.load  {
  display: inline-block;
  width: 2px;
  height: 2px;
  color: var(--title-color);
  margin-left: -.2rem;
  border-radius: 50%;
  
  animation: ponto .8s linear infinite alternate-reverse;
}



@keyframes ponto {
  0% {
    box-shadow: 5px -4px , 10px 0, 15px 0px;
  }

  50% {
    box-shadow: 5px 0px , 10px -4px, 15px 0px;
  }

  100% {
    box-shadow: 5px 0px , 10px 0, 15px -4px;
  }
}